<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="passenger.AddPassengerTest"/>
      <class name="passenger.ViewPassengerByNameAndMobile"/>
      <class name="passenger.ViewPassengerByIdTest"/>
      <class name="base.BaseTest"/>
      <class name="passenger.ViewPassengerList"/>
      <class name="passenger.DeletePassengerById"/>
      <class name="auth.AuthTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
